openapi: 3.0.0
info:
  title: API Exchanges - Open Finance Brasil
  description: |
    Open Finance Brasil Exchange Operations API – Phase 4.
    API that returns information on Exchange Operations carried out in transmitting institutions by their clients, including data such as information on the contracted operation, operation value in national and foreign currency, operation classification, delivery method, VET and, when applicable, amount to be settled.
    Change event of the operation, if any, with the modified information will also be shared.
    It has no segregation between natural and legal persons.
    Requires customer consent for all endpoints.

    __The scope of sharing includes operations negotiated in the primary market, spot (including cash, prepaid card, debit card) and future (including ACC, ACE or exchange lock).__

    __Operations contracted and made available in the institution's electronic channels must be shared, even in situations where the operation has not yet been registered with the Central Bank. If the contracting event is cancelled in the Exchange System, which means that the operation was cancelled, then this operation is no longer within the scope of exposure. If registration takes place, the operation must be supplemented with the registered operation number and the events that occurred.__

    __Operation linking events are not within the scope of exposure.__

    __Exposure will be given for each exchange operation contracted by the customer.__
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Open Finance Brasil Governance – Specifications
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/exchanges/v1'
    description: Production Server
  - url: 'https://apih.banco.com.br/open-banking/exchanges/v1'
    description: Homologation Server
tags:
  - name: Product List
    description: Obtains the list of Exchange operations held by the customer at the transmitting institution and for which they have given consent.
  - name: Operation Details
    description: Obtains the data of the Exchange operation identified by operationId.
  - name: Events
    description: Obtains the event data of the Exchange operation identified by operationId.
paths:
  /operations:
    get:
      tags:
        - Product List
      summary: Obtains the list of Exchange operations held by the customer at the transmitting institution and for which they have given consent.
      operationId: exchangesGetOperations
      description: Obtains the list of Exchange operations held by the customer at the transmitting institution and for which they have given consent.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseProductList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OAuth2AuthorizationCode:
          - 'openid'
          - 'consent:consentId'
          - 'exchanges'
  /operations/{operationId}:
    get:
      tags:
        - Operation Details
      summary: Obtains the data of the Exchange operation identified by operationId.
      operationId: exchangesGetOperationsOperationId
      description: Obtains the data of the Exchange operation identified by operationId. Changes made to the original operation must be represented through events. The original operation is not updated to reflect any change events. Only the fields `/operationOutstandingBalance` and `/dueDate` should be updated
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseOperationDetails'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OAuth2AuthorizationCode:
          - 'openid'
          - 'consent:consentId'
          - 'exchanges'
  /operations/{operationId}/events:
    get:
      tags:
        - Events
      summary: Obtains the event data of the Exchange operation identified by operationId.
      operationId: exchangesGetOperationsOperationIdEvents
      description: Obtains the event data of the Exchange operation identified by operationId.
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseEvents'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OAuth2AuthorizationCode:
          - 'openid'
          - 'consent:consentId'
          - 'exchanges'
components:
  schemas:
    Links:
      type: object
      description: References to other resources of the requested API.
      required:
        - self
      properties:
        self:
          type: string
          format: uri
          maxLength: 2000
          description: Full URI that generated the current response.
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        first:
          type: string
          format: uri
          maxLength: 2000
          description: URI of the first page that originated this list of results. Restriction - Mandatory when not the first page of the response
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        prev:
          type: string
          format: uri
          maxLength: 2000
          description: "URI of the previous page of this list of results. Restriction - Mandatory when not the first page of the response"
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        next:
          type: string
          format: uri
          maxLength: 2000
          description: URI of the next page of this list of results. Restriction - Mandatory when not the last page of the response
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        last:
          type: string
          format: uri
          maxLength: 2000
          description: URI of the last page of this list of results. Restriction - Mandatory when not the last page of the response
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
      additionalProperties: false
    LinksOperationId:
      type: object
      description: References to other resources of the requested API.
      required:
        - self
      properties:
        self:
          type: string
          format: uri
          maxLength: 2000
          description: Full URI that generated the current response.
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
      additionalProperties: false
    OpenDataMetaOperationId:
      type: object
      description: Meta information regarding the requested API.
      required:
        - requestDateTime
      properties:
        requestDateTime:
          description: 'Date and time of the query, as per RFC-3339 specification, UTC format.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    OpenDataMeta:
      type: object
      description: Meta information regarding the requested API.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Total number of records in the result
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Total number of pages in the result
          example: 1
        requestDateTime:
          description: 'Date and time of the query, as per RFC-3339 specification, UTC format.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    OKResponseProductList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/ProductList'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/OpenDataMeta'
      additionalProperties: false
    OKResponseOperationDetails:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/OperationDetails'
        links:
          $ref: '#/components/schemas/LinksOperationId'
        meta:
          $ref: '#/components/schemas/OpenDataMetaOperationId'
    OKResponseEvents:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Events'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/OpenDataMeta'
      additionalProperties: false
    ProductList:
      type: object
      description: List of exchange operations
      required:
        - brandName
        - companyCnpj
        - operationId
      properties:
        brandName:
          type: string
          description: 'Brand Name reported by the participant in Open Finance. It is recommended to use, whenever possible, the same brand name attributed in the Customer Friendly Server Name (Authorization Server) directory field. Institution authorized to operate'
          pattern: '[\w\W\s]*'
          example: Organização A /* Organization A */
          maxLength: 80
        companyCnpj:
          type: string
          description: 'Full CNPJ number of the institution responsible for the Registration - CNPJ corresponds to the registration number in the National Registry of Legal Entities. Only the CNPJ numbers should be included, without masking.'
          maxLength: 14
          pattern: '^\d{14}$'
          example: '21128159000166'
        operationId:
          type: string
          description: 'Uniquely identifies the customer relationship with the product, maintaining immutability rules within the transmitting institution.'
          maxLength: 100
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
          example: '92792126019929240'
      additionalProperties: false
    OperationDetails:
      type: object
      description: Details of the exchange operation.
      required:
        - authorizedInstitutionCnpjNumber
        - authorizedInstitutionName
        - operationType
        - operationDate
        - dueDate
        - localCurrencyOperationTax
        - localCurrencyOperationValue
        - foreignOperationValue
        - deliveryForeignCurrency
        - operationCategoryCode
      properties:
        authorizedInstitutionCnpjNumber:
          type: string
          description: CNPJ of the institution authorized to operate in the exchange market.
          maxLength: 14
          pattern: '^\d{14}$'
          example: '11225860000140'
        authorizedInstitutionName:
          type: string
          description: Name of the Financial Institution in Brazil.
          maxLength: 250
          pattern: '[\w\W\s]*'
          example: AGENCIA CORRETORA /* BROKERAGE AGENCY */
        intermediaryInstitutionCnpjNumber:
          type: string
          description: |
            CNPJ of the intermediary institution authorized to operate in the exchange market.
            Mandatory field in cases where there is an intermediary institution.
          maxLength: 14
          pattern: '^\d{14}$'
          example: '11225860000140'
        intermediaryInstitutionName:
          type: string
          description: |
            Name of the intervening brokerage firm authorized to operate in the exchange market.

            [Restriction] Mandatory field for participants to fill in when the 'intermediaryInstitutionCnpjNumber' field is informed.
          maxLength: 250
          pattern: '[\w\W\s]*'
          example: AGENCIA CORRETORA /* BROKERAGE AGENCY */
        operationNumber:
          type: string
          description: Operation registration number at Bacen. Must be filled in for sharing, after registration in the Exchange System and number available at the transmitter/holder.
          maxLength: 12
          pattern: '^\d{12}$'
          example: '393874649456'
        operationType:
          $ref: '#/components/schemas/EnumExchangesOperationType'
        operationDate:
          type: string
          format: date-time
          description: Date of closing the exchange contract.
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2023-03-07T08:30:00Z'
        dueDate:
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: Date on which the operation (purchase or sale) is scheduled to be settled.
          maxLength: 10
          example: "2018-02-15"
        localCurrencyOperationTax:
          type: object
          description: Exchange rate value applied to this contract, in local currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 31
              pattern: '^\d{1,15}\.\d{1,15}$'
              example: '1.3'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        localCurrencyOperationValue:
          type: object
          description: Value negotiated in local currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        foreignOperationValue:
          type: object
          description: Operation value in foreign currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: USD
        operationOutstandingBalance:
          type: object
          description: Value of the operation balance to be settled in foreign currency. Mandatory sending object in cases of future settlement exchange operations.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        vetAmount:
          type: object
          description: Represents the cost of an exchange operation in reais per foreign currency, including the exchange rate, fees and taxes incident on this operation. Mandatory sending field in spot exchange operations that reach up to the limit of US\$100,000 or equivalent in other currencies.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 31
              pattern: '\d{1,15}\.\d{1,15}$'
              example: '1000.000004'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        localCurrencyAdvancePercentage:
          type: string
          description:  |
            Percentage of the foreign currency value granted to the client in advance. ex. 0.014500.

            Filling must respect 6 decimal places, even if they are filled with zeros (percentage representation, e.g.: 0.150000. This value represents 15%. The value 1 represents 100%). Mandatory sending fields in the case of future settlement exchange operations.
          pattern: '^\d{1}\.\d{1,6}$'
          maxLength: 8
          minLength: 3
          example: '0.12'
        deliveryForeignCurrency:
          $ref: '#/components/schemas/EnumExchangesDeliveryForeignCurrency'
        operationCategoryCode:
          type: string
          maxLength: 5
          pattern: '^\d{5}$'
          description: Code of the nature of the operation closing fact. Must respect the nature codes referenced in resolution 277 or in Circular 3690, as applicable to the exchange contract.
          example: '90302'
      additionalProperties: false
    Events:
      type: object
      description: Details of exchange operation events.
      required:
        - eventSequenceNumber
        - eventType
        - eventDate
      properties:
        eventSequenceNumber:
          type: string
          description: Sequence number of the exchange event record at Bacen.
          maxLength: 12
          pattern: '^\d{12}$'
          example: '493874649457'
        eventType:
          $ref: '#/components/schemas/EnumExchangesEventType'
        eventDate:
          type: string
          format: date-time
          description: Date of the event related to the operation.
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2023-03-07T08:30:00Z'
        dueDate:
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: Date on which the operation (purchase or sale), after event, is scheduled to be settled.
          maxLength: 10
          example: "2018-02-15"
        localCurrencyOperationTax:
          type: object
          description: Exchange rate value applied to the operation, in local currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 31
              pattern: '^\d{1,15}\.\d{1,15}$'
              example: '1.3'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        localCurrencyOperationValue:
          type: object
          description: Value negotiated in local currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        foreignOperationValue:
          type: object
          description: Operation value in foreign currency.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: USD
        operationOutstandingBalance:
          type: object
          description: Value of the operation balance to be settled in foreign currency. Mandatory sending object for events created (eventDate) from 04/15/2024 in cases of future settlement exchange operations.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 20
              pattern: '^\d{1,17}\.\d{2}$'
              example: '1000.04'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        vetAmount:
          type: object
          description: Represents the cost of an exchange operation in reais per foreign currency, including the exchange rate, fees and taxes incident on this operation. Mandatory sending field in spot exchange operations that reach up to the limit of US\$100,000 or equivalent in other currencies.
          required:
            - amount
            - currency
          properties:
            amount:
              type: string
              format: double
              description: Value related to the object.
              maxLength: 31
              pattern: '\d{1,15}\.\d{1,15}$'
              example: '1000.000004'
            currency:
              type: string
              description: Currency referring to the monetary value, following the ISO-4217 model.
              pattern: '^[A-Z]{3}$'
              maxLength: 3
              example: BRL
        localCurrencyAdvancePercentage:
          type: string
          description: |
            Percentage of the foreign currency value granted to the client in advance. ex. 0.014500.

            Filling must respect 6 decimal places, even if they are filled with zeros (percentage representation, e.g.: 0.150000. This value represents 15%. The value 1 represents 100%). Mandatory sending fields in the case of future settlement exchange operations.
          pattern: '^\d{1}\.\d{1,6}$'
          maxLength: 8
          minLength: 3
          example: '0.12'
        deliveryForeignCurrency:
          $ref: '#/components/schemas/EnumExchangesDeliveryForeignCurrency'
        operationCategoryCode:
          type: string
          maxLength: 5
          pattern: '^\d{5}$'
          description: Code of the nature of the operation closing fact. Must respect the nature codes referenced in resolution 277 or in Circular 3690, as applicable to the exchange contract.
          example: '90302'
        foreignPartie:
          type: object
          required:
            - relationshipCode
            - foreignPartieName
            - foreignPartieCountryCode
          description: |
            List for sending involved party information.

            [Restriction] Optional filling list by participants when:
            - The `deliveryForeignCurrency` field is equal to ESPECIE_CHEQUES_VIAGEM or CARTAO_PREPAGO.
            - The `eventType` field is different from "4 - Settlement of Exchange Operation in the Primary Market."

            If the institution has the information, it is mandatory to send it. If the information is updated after contracting, it must be sent through events.
          properties:
            relationshipCode:
              type: string
              maxLength: 2
              pattern: '^\d{2}$'
              description: |
                Relationship code of linkage between the Client and the Payer/Receiver abroad. Must respect the linkage codes referenced in resolution 277 or in Circular 3690, as applicable to the exchange contract.
              example: '50'
            foreignPartieName:
              type: string
              description: |
                Name of the payer or receiver abroad.
              maxLength: 80
              pattern: '[\w\W\s]*'
              example: José da Silva
            foreignPartieCountryCode:
              type: string
              description: |
                Country of the payer or receiver. Country code according to ISO 3166-1 standard.
              maxLength: 2
              pattern: '^[A-Z]{2}$'
              example: ZA
      additionalProperties: false
    EnumExchangesOperationType:
      type: string
      description: Purchase or sale of foreign currency.
      enum:
        - COMPRA /* PURCHASE */
        - VENDA /* SALE */
      example: COMPRA /* PURCHASE */
    EnumExchangesEventType:
      type: string
      description: |
        For the domain field:

        1 - Contracting in the Primary Market.
        2 - Change of Exchange Operation in the Primary Market.
        3 - Cancellation of Exchange Operation in the Primary Market.
        4 - Settlement of Exchange Operation in the Primary Market.
        5 - Write-off of Amount to Settle from Exchange Operation in the Primary Market.
        6 - Reestablishment of Write-off of Amount to Settle from Exchange Operation in the Primary Market.
        9 - Annulment of Exchange Operation in the Primary Market (used, for example, in the annulment of a settlement/cancellation event).
        Note.: Codes follow the messaging layout sent by institutions to the Central Bank.

        The event is related to the type of contracting.
      enum:
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - '9'
      example: '2'
    EnumExchangesDeliveryForeignCurrency:
      type: string
      description: |
        Foreign currency delivery method.

        ```
        |--------|-------------------------------------------------------------|
        | Código | ENUM (See translations below)                               |
        |--------|-------------------------------------------------------------|
        |   10   | CARTA_CREDITO_A_VISTA                                       |
        |   15   | CARTA_CREDITO_A_PRAZO                                       |
        |   20   | CONTA_DEPOSITO                                              |
        |   21   | CONTA_DEPOSITO_MOEDA_ESTRANGEIRA_PAIS                       |
        |   22   | CONTA_DEPOSITO_EXPORTADOR_MANTIDA_NO_EXTERIOR               |
        |   23   | CONTA_DEPOSITO_OU_PAGAMENTO_EXPORTADOR_INSTITUICAO_EXTERIOR |
        |   25   | CONVENIO_PAGAMENTOS_E_CREDITOS_RECIPROCOS                   |
        |   30   | CHEQUE                                                      |
        |   50   | ESPECIE_CHEQUES_VIAGEM                                      |
        |   55   | CARTAO_PREPAGO                                              |
        |   65   | TELETRANSMISSAO                                             |
        |   75   | TITULOS_VALORES                                             |
        |   90   | SIMBOLICA                                                   |
        |   91   | SEM_MOVIMENTACAO_VALORES                                    |
        |   99   | DEMAIS                                                      |
        |   N/A  | OUTRO_NAO_MAPEADO_OFB                                       |
        |--------|-------------------------------------------------------------|
        ```
      enum:
        - CONTA_DEPOSITO_MOEDA_ESTRANGEIRA_PAIS                       /* FOREIGN_CURRENCY_DEPOSIT_ACCOUNT_COUNTRY */
        - CONTA_DEPOSITO_OU_PAGAMENTO_EXPORTADOR_INSTITUICAO_EXTERIOR /* DEPOSIT_ACCOUNT_OR_PAYMENT_EXPORTER_FOREIGN_INSTITUTION */
        - ESPECIE_CHEQUES_VIAGEM                                      /* CASH_TRAVELERS_CHECKS */
        - CARTAO_PREPAGO                                              /* PREPAID_CARD */
        - TELETRANSMISSAO                                             /* TELETRANSMISSION */
        - SEM_MOVIMENTACAO_VALORES                                    /* NO_MOVEMENT_OF_FUNDS */
        - DEMAIS                                                      /* OTHERS */
        - CARTA_CREDITO_A_VISTA                                       /* SIGHT_LETTER_OF_CREDIT */
        - CARTA_CREDITO_A_PRAZO                                       /* TERM_LETTER_OF_CREDIT */
        - CONTA_DEPOSITO                                              /* DEPOSIT_ACCOUNT */
        - CHEQUE                                                      /* CHECK */
        - TITULOS_VALORES                                             /* SECURITIES */
        - SIMBOLICA                                                   /* SYMBOLIC */
        - CONTA_DEPOSITO_EXPORTADOR_MANTIDA_NO_EXTERIOR               /* EXPORTER_DEPOSIT_ACCOUNT_HELD_ABROAD */
        - CONVENIO_PAGAMENTOS_E_CREDITOS_RECIPROCOS                   /* RECIPROCAL_PAYMENTS_AND_CREDITS_AGREEMENT */
        - OUTRO_NAO_MAPEADO_OFB                                       /* OTHER_UNMAPPED_OFB */
      example: CARTA_CREDITO_A_PRAZO /* TERM_LETTER_OF_CREDIT */
    ResponseErrorWithAbleAdditionalProperties:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Endpoint specific error code
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Human-readable title for this specific error
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Human-readable description of this specific error
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          $ref: '#/components/schemas/MetaWithAbleAdditionalProperties'
    MetaWithAbleAdditionalProperties:
      type: object
      description: Meta information regarding the requested API.
      required:
        - requestDateTime
      properties:
        requestDateTime:
          description: 'Date and time of the query, as per RFC-3339 specification, UTC format.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
  parameters:
    OperationId:
      name: operationId
      in: path
      description: 'Uniquely identifies the customer relationship with the product, maintaining immutability rules within the transmitting institution.'
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
        example: '92792126019929200000000000000000000000000'
    Authorization:
      name: Authorization
      in: header
      description: Standard HTTP header. Allows credentials to be provided depending on the type of resource requested
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Date on which the user last logged in with the receptor. Represented according to RFC7231. Example: Sun, 10 Sep 2017 19:43:31 UTC.'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: The IP address of the user if currently logged in with the receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: A UUID [RFC4122](https://tools.ietf.org/html/rfc4122) used as a correlation ID between request and response. Generation and sending field mandatory by the receptor (client) and its value must be “mirrored” by the transmitter (server) in the response header. If not received or if an invalid value is received, the transmitter must generate an x-fapi-interaction-id and return it in the response with HTTP Status Code 400. The receptor must accept the value received from the transmitter.
      required: true
      schema:
        type: string
        format: uuid
        minLength: 1
        maxLength: 36
        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        example: d78fc4e5-37ca-4da3-adf2-9b082bf92280
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indicates the user-agent that the user uses.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    page:
      name: page
      in: query
      description: Page number that is being requested (the value of the first page is 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 2147483647
        format: int32
    pageSize:
      name: page-size
      in: query
      description: |
        Total number of records per page.
        The transmitting institution must consider the input as 25, if a smaller value is informed by the receptor.
        As long as there are more than 25 records to send, the transmitting institution must consider the minimum per page as 25.
        Only the last page returned (or first, in the case of a single page) may contain less than 25 records.
        More information, access API Specifications > Standards > Pagination.
      schema:
        type: integer
        default: 25
        minimum: 25
        format: int32
        maximum: 1000
    pagination-key:
      name: pagination-key
      in: query
      description: Re-call identifier, used to avoid counting calls to the endpoint during pagination.
      schema:
        type: string
        maxLength: 2048
        pattern: '[\w\W\s]*'
  securitySchemes:
    OAuth2AuthorizationCode:
      type: oauth2
      description: OAuth flow required for the receptor to have access to data at the transmitting institution. Requires the redirection and authentication process of the user to whom the data refers.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            exchanges: Scope required for access to the exchanges API. Control of specific endpoints is done via permissions.
  responses:
    OKResponseProductList:
      description: Exchange operation data from the institution successfully obtained.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseProductList'
    OKResponseOperationDetails:
      description: Exchange operation data from the institution successfully obtained.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseOperationDetails'
    OKResponseEvents:
      description: Exchange operation data from the institution successfully obtained.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseEvents'
    BadRequestWithAdditionalProperties:
      description: 'The request was malformed, omitting mandatory attributes, whether in the payload or through attributes in the URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    ForbiddenWithAdditionalProperties:
      description: The token has incorrect scope or a security policy has been violated
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    GatewayTimeoutWithAdditionalProperties:
      description: GATEWAY TIMEOUT - The request was not answered within the established timeout
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    InternalServerErrorWithAdditionalProperties:
      description: An error occurred in the API gateway or microservice
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    LockedWithAdditionalProperties:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    MethodNotAllowedWithAdditionalProperties:
      description: The consumer tried to access the resource with an unsupported method
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    NotAcceptableWithAdditionalProperties:
      description: The request contained an Accept header other than the allowed media types or a character set other than UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    NotFoundWithAdditionalProperties:
      description: The requested resource does not exist or has not been implemented
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    TooManyRequestsWithAdditionalProperties:
      description: 'The operation was refused because too many requests were made within a given period or the global limit of concurrent requests was reached'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    UnauthorizedWithAdditionalProperties:
      description: Missing/invalid authentication header or invalid token
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    UnprocessableEntityWithAdditionalProperties:
      description: 'The request syntax is correct, but it was not possible to process the instructions present.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    DefaultWithAdditionalProperties:
      description: Unexpected error.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    SiteIsOverloadedWithAdditionalProperties:
      description: 'The site is overloaded and the operation was refused because the maximum global TPS limit has been reached at this time.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
